body {
  font-family: $font-family-normal;
  color: $color-black;
}

h1,
.font-large {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  margin: 0;
}

h2,
.font-medium {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  margin: 0;
}

p,
label,
.font-regular {
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
}

span,
.font-small {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
}