// Font
$font-family-normal: 'Roboto';

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;

// Colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #8f8f8f;
$color-blue: #6355FF;
$color-green: #5FA44D;
$color-light-purple: #E6E3FF;
$color-red: #CF6869;