@import './variables.scss';
@import './typography.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%
}

.container {
  height: 100%;
  padding: 24px;
  margin: 0 auto;
  max-width: 1920px;
}

.main__top-area {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 32px;
  gap: 48px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.main__bottom-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
}
