.service-dropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  
  &__submenu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }

  &__button {
    width: 500px;

    @media screen and (max-width: 1024px) {
      width: 100%; 
    }

    &--unavailable {
      background-color: $color-red;

      &:focus-visible {
        outline-color: $color-red;
      }
    }
  }
}